*{
    color: white;
    margin: 0;
    padding: 0;
    background-color:rgb(30, 30, 30);
    font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#Home{
    text-align: center;
    font-size: 350%;
    margin-top: 5px;
    margin-bottom: 0px;
    text-decoration: none;
}
#portfoliotext{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;
    margin-bottom: 80px;
    
    padding: 2px;

}
.navcontent{
    margin-right: 60px;
    margin-left: 22px;
    text-decoration: none;

}

#profilephotodiv{
    display: inline-block;
}
#profilephoto{
    
        height: 280px;
        border-width: 10px;
        border-color: #4c7474;
        border-style: solid;
        border-radius: 20%;
        margin-left: 1150px;
}

#fullname{
    font-size: 180px;
    margin-right: 200px;
    padding-left: 50px;
    display: inline;
    position: absolute;
    top: 300px;
    font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;

}
#hellomsg{
    font-size: 50px;
    padding-left: 70px;
    display: block;
  
}