*{  
    color: white;
    margin: 0;
    padding: 0;
    background-color:rgb(30, 30, 30);
    
}

nav {
    width: 100%;
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: space-around;
    font-size: 223%;
    padding-top:4px;
}
.navcontent{
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(30, 30, 30);
}
.navcontent:hover {
    transition: all;
    transition-duration: 0.75s;
    transition-delay: 0.05s;
    font-size: 41px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 30px;
    background-color: #655e5e;
    
    
}

#hello{
    font-size: 35px;
    display: inline-block;
    margin-left: 141px;
    margin-top: 86px;
    margin-bottom: 25px;
}
#name{
    
    font-size: 121px;
    display:inline;
    margin-left: 124px;
    margin-top: 9px;
    
    
}
#name:hover{

    color: goldenrod;
    font-size: 122px;
    display:inline;
    margin-left: 124px;
    margin-top: 9px;
    margin-bottom: 100px;
    transition: all;
    transition-delay: 0.2;
    transition-duration: 0.75s;
    
}
#photodiv{
    display: inline-block;
    position: absolute;
    top: 240px;
    right: 150px;
}
#photo{
    height: 310px;
    border-style: solid;
    border-color: #a1a1a1;
    border-radius: 87px;
    border-width: 7px;
}
#photo:hover{
    height: 320px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 87px;
    border-width: 9px;
    transition: all;
    transition-delay: 0.1s;
    transition-duration: 1s;
}
#hero{
    position: absolute;
    top: 230px;
    left: 8px;
}
#About {
    margin-top: 780px;
    margin-left: 60px;
}

.subheading{
    
  font-size: 1.25em;
  text-decoration: underline;

}

.container{
    margin-top: 75px;
    margin-left: 60px;
}
#footer{
    text-align: center;
    margin: 50px;
    margin-bottom: 5px;
}
.heading{
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: white;
    margin-bottom: 25px;
}
.content{
    font-size: 27px;
    width: 1000px;
    margin-left: 65px;
    
}


